# Onlne Gaming Anxiety Analyzis

In [1]:
import pandas as pd

## Reading data

In [5]:
# Different encoding: 'utf-8', 'ISO-8859-1', 'latin1'
df = pd.read_csv('../data/GamingStudy_data.csv', encoding='ISO-8859-1')
df.head()

,S. No.,Timestamp,GAD1,GAD2,GAD3,GAD4,GAD5,GAD6,GAD7,GADE,...,Birthplace,Residence,Reference,Playstyle,accept,GAD_T,SWL_T,SPIN_T,Residence_ISO3,Birthplace_ISO3
0,1,42052.00437,0,0,0,0,1,0,0,Not difficult at all,...,USA,USA,Reddit,Singleplayer,Accept,1,23,5.0,USA,USA
1,2,42052.00680,1,2,2,2,0,1,0,Somewhat difficult,...,USA,USA,Reddit,Multiplayer - online - with strangers,Accept,8,16,33.0,USA,USA
2,3,42052.03860,0,2,2,0,0,3,1,Not difficult at all,...,Germany,Germany,Reddit,Singleplayer,Accept,8,17,31.0,DEU,DEU
3,4,42052.06804,0,0,0,0,0,0,0,Not difficult at all,...,USA,USA,Reddit,Multiplayer - online - with online acquaintanc...,Accept,0,17,11.0,USA,USA
4,5,42052.08948,2,1,2,2,2,3,2,Very difficult,...,USA,South Korea,Reddit,Multiplayer - online - with strangers,Accept,14,14,13.0,KOR,USA

## Simple data description

In [10]:
df.isnull().sum()

S. No.                 0
Timestamp              0
GAD1                   0
GAD2                   0
GAD3                   0
GAD4                   0
GAD5                   0
GAD6                   0
GAD7                   0
GADE                 649
SWL1                   0
SWL2                   0
SWL3                   0
SWL4                   0
SWL5                   0
Game                   0
Platform               0
Hours                 30
earnings               0
whyplay                0
League              1852
highestleague      13464
streams              100
SPIN1                124
SPIN2                154
SPIN3                140
SPIN4                159
SPIN5                166
SPIN6                156
SPIN7                138
SPIN8                144
SPIN9                158
SPIN10               160
SPIN11               187
SPIN12               168
SPIN13               187
SPIN14               156
SPIN15               147
SPIN16               147
SPIN17               175
Narcissism            23
Gender                 0
Age                    0
Work                  38
Degree              1577
Birthplace             0
Residence              0
Reference             15
Playstyle              0
accept               414
GAD_T                  0
SWL_T                  0
SPIN_T               650
Residence_ISO3       110
Birthplace_ISO3      121
dtype: int64

In [11]:
df.dtypes

S. No.               int64
Timestamp          float64
GAD1                 int64
GAD2                 int64
GAD3                 int64
GAD4                 int64
GAD5                 int64
GAD6                 int64
GAD7                 int64
GADE                object
SWL1                 int64
SWL2                 int64
SWL3                 int64
SWL4                 int64
SWL5                 int64
Game                object
Platform            object
Hours              float64
earnings            object
whyplay             object
League              object
highestleague      float64
streams            float64
SPIN1              float64
SPIN2              float64
SPIN3              float64
SPIN4              float64
SPIN5              float64
SPIN6              float64
SPIN7              float64
SPIN8              float64
SPIN9              float64
SPIN10             float64
SPIN11             float64
SPIN12             float64
SPIN13             float64
SPIN14             float64
SPIN15             float64
SPIN16             float64
SPIN17             float64
Narcissism         float64
Gender              object
Age                  int64
Work                object
Degree              object
Birthplace          object
Residence           object
Reference           object
Playstyle           object
accept              object
GAD_T                int64
SWL_T                int64
SPIN_T             float64
Residence_ISO3      object
Birthplace_ISO3     object
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13464 entries, 0 to 13463
Data columns (total 55 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   S. No.           13464 non-null  int64
 1   Timestamp        13464 non-null  float64
 2   GAD1             13464 non-null  int64
 3   GAD2             13464 non-null  int64
 4   GAD3             13464 non-null  int64
 5   GAD4             13464 non-null  int64
 6   GAD5             13464 non-null  int64
 7   GAD6             13464 non-null  int64
 8   GAD7             13464 non-null  int64
 9   GADE             12815 non-null  object
 10  SWL1             13464 non-null  int64
 11  SWL2             13464 non-null  int64
 12  SWL3             13464 non-null  int64
 13  SWL4             13464 non-null  int64
 14  SWL5             13464 non-null  int64
 15  Game             13464 non-null  object
 16  Platform         13464 non-null  object
 17  Hours            13434 non-null  float64
 18  earnings         13464 non-null  object
 19  whyplay          13464 non-null  object
 20  League           11612 non-null  object
 21  highestleague    0 non-null      float64
 22  streams          13364 non-null  float64
 23  SPIN1            13340 non-null  float64
 24  SPIN2            13310 non-null  float64
 25  SPIN3            13324 non-null  float64
 26  SPIN4            13305 non-null  float64
 27  SPIN5            13298 non-null  float64
 28  SPIN6            13308 non-null  float64
 29  SPIN7            13326 non-null  float64
 30  SPIN8            13320 non-null  float64
 31  SPIN9            13306 non-null  float64
 32  SPIN10           13304 non-null  float64
 33  SPIN11           13277 non-null  float64
 34  SPIN12           13296 non-null  float64
 35  SPIN13           13277 non-null  float64
 36  SPIN14           13308 non-null  float64
 37  SPIN15           13317 non-null  float64
 38  SPIN16           13317 non-null  float64
 39  SPIN17           13289 non-null  float64
 40  Narcissism       13441 non-null  float64
 41  Gender           13464 non-null  object
 42  Age              13464 non-null  int64
 43  Work             13426 non-null  object
 44  Degree           11887 non-null  object
 45  Birthplace       13464 non-null  object
 46  Residence        13464 non-null  object
 47  Reference        13449 non-null  object
 48  Playstyle        13464 non-null  object
 49  accept           13050 non-null  object
 50  GAD_T            13464 non-null  int64
 51  SWL_T            13464 non-null  int64
 52  SPIN_T           12814 non-null  float64
 53  Residence_ISO3   13354 non-null  object
 54  Birthplace_ISO3  13343 non-null  object
dtypes: float64(23), int64(16), object(16)
memory usage: 5.6+ MB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
S. No.,13464.0,7096.839201,4114.478220,1.00000,3532.750000,7087.500000,10654.250000,14250.00000
Timestamp,13464.0,42054.841222,0.272948,42052.00437,42054.716548,42054.800675,42054.932112,42058.36375
GAD1,13464.0,0.860963,0.926542,0.00000,0.000000,1.000000,1.000000,3.00000
GAD2,13464.0,0.673351,0.915724,0.00000,0.000000,0.000000,1.000000,3.00000
GAD3,13464.0,0.965761,0.982776,0.00000,0.000000,1.000000,2.000000,3.00000
GAD4,13464.0,0.724079,0.921971,0.00000,0.000000,0.000000,1.000000,3.00000
GAD5,13464.0,0.488042,0.837014,0.00000,0.000000,0.000000,1.000000,3.00000
GAD6,13464.0,0.911022,0.931168,0.00000,0.000000,1.000000,1.000000,3.00000
GAD7,13464.0,0.588755,0.894408,0.00000,0.000000,0.000000,1.000000,3.00000
SWL1,13464.0,3.720440,1.736264,1.00000,2.000000,4.000000,5.000000,7.00000
SWL2,13464.0,4.602050,1.696276,1.00000,3.000000,5.000000,6.000000,7.00000
SWL3,13464.0,4.345440,1.809430,1.00000,3.000000,5.000000,6.000000,7.00000
SWL4,13464.0,3.762032,1.818136,1.00000,2.000000,4.000000,5.000000,7.00000
SWL5,13464.0,3.358883,1.916319,1.00000,2.000000,3.000000,5.000000,7.00000
Hours,13434.0,22.247357,70.284502,0.00000,12.000000,20.000000,28.000000,8000.00000
highestleague,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
streams,13364.0,11.233538,78.549209,0.00000,4.000000,8.000000,15.000000,9001.00000
SPIN1,13340.0,0.856897,0.907351,0.00000,0.000000,1.000000,1.000000,4.00000
SPIN2,13310.0,1.210969,1.144054,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN3,13324.0,1.095392,1.164982,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN4,13305.0,1.682976,1.229730,0.00000,1.000000,2.000000,3.000000,4.00000
SPIN5,13298.0,1.248985,1.221828,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN6,13308.0,1.348287,1.279251,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN7,13326.0,1.050503,1.221171,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN8,13320.0,1.405030,1.372777,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN9,13306.0,1.567338,1.383539,0.00000,0.000000,1.000000,3.000000,4.00000
SPIN10,13304.0,0.917769,1.125849,0.00000,0.000000,1.000000,1.000000,4.00000
SPIN11,13277.0,1.827446,1.488372,0.00000,0.000000,2.000000,3.000000,4.00000
SPIN12,13296.0,0.892148,1.158235,0.00000,0.000000,0.000000,1.000000,4.00000
SPIN13,13277.0,0.538827,0.944180,0.00000,0.000000,0.000000,1.000000,4.00000
SPIN14,13308.0,1.252405,1.207463,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN15,13317.0,1.411054,1.349874,0.00000,0.000000,1.000000,2.000000,4.00000
SPIN16,13317.0,0.620635,0.961853,0.00000,0.000000,0.000000,1.000000,4.00000
SPIN17,13289.0,0.935962,1.180456,0.00000,0.000000,0.000000,2.000000,4.00000
Narcissism,13441.0,2.027677,1.061842,1.00000,1.000000,2.000000,3.000000,5.00000
Age,13464.0,20.930407,3.300897,18.00000,18.000000,20.000000,22.000000,63.00000
GAD_T,13464.0,5.211973,4.713267,0.00000,2.000000,4.000000,8.000000,21.00000
SWL_T,13464.0,19.788844,7.229243,5.00000,14.000000,20.000000,26.000000,35.00000
SPIN_T,12814.0,19.848525,13.467493,0.00000,9.000000,17.000000,28.000000,68.00000

## Simple value analyzis

### Value count

In [ ]:
for i in df: